OPENAI_API_KEY=your_key_here
UPSTAGE_API_KEY=your_key_here

TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_BEARER_TOKEN=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=

INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_PAGE_ID=

GOOGLE_API_CLIENT_ID=
GOOGLE_API_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

JAVA_SERVER_ADDRESS="http://localhost:8080"

LOG_LEVEL=INFO

FASTAPI_ALLOWED_ORIGINS="http://localhost:8080"